<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestNG Suite" >
  

  
<listeners>
    <listener class-name="com.test.LoginTest.LoginTest"/>
</listeners>

  <test name="UserTests">
    <classes>
      <class name="com.test.ReportUtils.ExtentReport">
        <methods>
     
        </methods>
      </class>
    </classes>
  </test>
</suite>

